    
body {background-color: navy; font-family: Arial; margin:2px;}

h1, p {color: whitesmoke;}

h3 {color: powderblue; }

h1, h3{ vertical-align: centre;}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a{
  font-family: Arial;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #5a49c8;
}

.active {
  background-color: #2b98ab;
}