* {
  box-sizing: border-box;
}
:root{
  --grey: #333;
  --Dgrey: #1b1b1b;
  --white: #f2f2f2;
}


body {
  font-family: Arial;
  padding: 10px;
  background: var(--back);
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: left;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: var(--grey);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.4s
}

.active {
  background-color: var(--accent);
}

.topnav a:hover:not(.active) {
  background-color: var(--Dgrey);

}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: var(--back);
  padding-left: 20px;
}


/* Add a card effect for articles */
.card {
  background-color: var(--white);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
.pageTitle{
	margin-top:0px;
	background-color: var(--accent);
    padding: 20px;
    text-align: center;
    color: var(--titleText)
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.accordion {
  background-color: var(--grey);
  color: var(--white);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: var(--Dgrey)
}

.accordion:after {
  content: '\002B';
  color: var(--white);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.Aactive:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: var(--accent);
  color: var(--grey);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.card table {
  table-layout:fixed; 
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
}

.card td{
  border: 1px solid var(--grey);
  text-align: left;
  padding: 8px;
}


.card tr:nth-child(even) {
  background-color: var(--tbAccent);
}