
body {background-color: navy; font-family: Arial}

h1, p {color: whitesmoke;}

h3 {color: powderblue; }

h1, h3{ display:inline; vertical-align:middle;}
ul, p {display:inline; vertical-align:middle;}
ul .button{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
 }
  
 li .button{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li .button:hover {
    background-color: #555;
    color: white;
  }